*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header,.footer{
    background-color: #1abc01;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}
.header{
    padding: 20px;
}


.main{
  
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

  
}


.topbar{
    background-color: #1abc01;
    padding: 10px;
    color: white;
}


.text{
    color: white;
    font-size: 1rem;
}

.currency,.balance{
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}


.form{
    background-color: rgba(100, 96, 96, 0.276);
    padding: 20px;
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}


label,input{
    display: flex;
    padding: 10px;
}


input{
    padding: 5px 10px;
}



.form-control{
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.radio{
    display: flex;
    align-items: center;
}   


button{
    border:none;
    outline: none;
    background: none;

}


.btn{
    display: block;
    background-color: #1abc01;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    transition: color 0.3 ease;
}


.btn:hover{
    background-color: #247118;
}


p.heading{
    background-color: white;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
}


ul{
    list-style: none;
}


.transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    margin: 5px;
}


.income{
    background-color: #1abc01;
}


.expense{
    background-color: red;
}


.right_side{
    display: flex;
    gap: 5px;
}


.right_side button{
    color: white;
    cursor: pointer;
    transition: color o.3 ease;
}


.right_side button:hover{
    color: rgb(26, 107, 26);
    
}