.pavan{
    background-color: aqua;
    color: #a52a2a;
    

}
.kalyan{
    background-color: #0ee80e;

}
.vamsi{
    background-color: rgb(157, 255, 0);
}
.sai{
    background-color: yellow;
}
#pk{
    background-color: #d47006;
}